# --- App Config ---
PORT=3000
WEBHOOK_SECRET=hookflow_prod_9x8a7s6d
LOG_LEVEL=info

# --- Database (MongoDB Atlas compatible) ---
MONGODB_URI=mongodb:mongodb+srv://test1:U1yup8EeHRzFNdum@test1.lbdo466.mongodb.net/Hookflow_Database?retryWrites=true&w=majority&appName=test1  

# --- Queue (Upstash Redis compatible) ---
# For Upstash, use: redis://:PASSWORD@HOST:PORT
REDIS_HOST=https://up-bull-121174.upstash.io
REDIS_PORT=6379
REDIS_PASSWORD=ggAAAAAAAdlWAAIgcDLqwY23e0Qx-Q-u-JGrhYZcB3tXXEHDvaBifgbQUCpzvg
REDIS_TLS=true
